#countLabel {
  text-align: center;
  background-color: rgb(57, 243, 10);
  display: block;
  font-size: 10em;
  font-family: Helvetica, sans-serif;
  border-radius: 50px;
}

#buttonContainer {
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  background-color: aqua;
  border-radius: 50px;
  gap: 20px;
}

.buttons {
  font-size: 2em;
  font-family: Helvetica, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color: rgb(54, 239, 70);
}

.buttons:hover {
  background-color: rgb(144, 47, 235);
}

@media (max-width: 500px) {
  #buttonContainer {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 50px;
    gap: 20px;
  }
  .buttons {
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    background-color: rgb(239, 54, 109);
    display: inline;
    width: 175px;
    padding: 10px;
    color: white;
  }
}
